/*
    style.ccs
    Programado para diseñar el mockup del index.html
    @author Juan Manuel Toscano Reyes <jtoscanoreyes.guadalupe@alumnado.fundacionloyola.net>
*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
*{
	margin: 0px;
	padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
body{
    font-size: 15px;
}
header{
    background-color: #1C6E8C;
    overflow: hidden;
    box-shadow: 0px 3px 7px black;
    /*width: 1200px;*/
    width: 100%;
    height: auto;
    position: fixed;
	top: 0px;
	left: 0px;
}
header img{
    /*margin: 10px;*/
    margin: 0.8333333333333333%;
}
header nav{
    /*margin-right: 10px;*/
    margin-right: 0.8333333333333333%;
    text-align: center;
    float: right;
}
header nav ul{
	list-style-type: none;
}
header nav li{
	float: left;
    line-height: 5.33rem;
}
header nav a{
	display: block;
	font-weight: bold;
	padding: 0px 0.9rem;
	text-decoration: none;
	color: black;
	transition: all 500ms ease;
}
header nav a:hover{
	background-color: #2787aa;
	color: white;
}
#solidaridad{
    /*width: 1200px;*/
    width: 100%;
    height: auto;
}
#solidaridad img{
    width: 100%;
}
h1{
    text-align: center;
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    margin: 3% 0%; /*CUendo meto el margin el footer se sube*/
}
#img{
	float: left;
	width: 48%;
	margin-right: 3%;
    text-align: center;
}
#parrafo{
	margin-left: 3%;
}
#negrita{
    font-weight: bold;
}
section{
    width: 90%;
	overflow: hidden;
	margin: 0px auto 3rem auto;
	clear: left;
}
.parallax1{
	margin-bottom: 2rem;
	height: 15rem;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../recursos/img/parallax1.jpg);
}
/*Poner para que el ancla se vea correctamente*/
/*https://cesar.pe/blog/error-en-menu-ancla-con-cabecera-fija-solucionado/*/
/*https://desarrolloweb.com/articulos/pasos-para-ejecutar-jquery.html*/
#video div{
	text-align: center;
}
.parallax2{
	margin-bottom: 2rem;
	height: 15rem;
	width: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../recursos/img/parallax2.jpg);
}

footer{
	clear: left;
	background-color: #282828;
	color: white;
	box-shadow: 0px -3px 7px black;
    
}
#footerWrapper{
	overflow: hidden;
}
#footerMenu{
	float: left;
	padding: 1%;
}
#contactar{
	float: left;
	padding: 1%;
}
footer ul{
	list-style-type: none;
}
footer li{
	margin-bottom: 0.3rem;
}
footer a{
	text-decoration: none;
	color: white;
}
i{
	margin: 3%;
}
#social{
	float: right;
	margin: 1%;
}
#footerdown{
	background-color: #181818;
	line-height: 2rem;
}
#privacidad{
	display: inline;
	margin-left: 1%;
}
#privacidad a{
	text-decoration: underline;
}
#licencia{
	float: right;
	display: inline;
	margin-right: 1%;
}
#evg{
	font-weight: bold;
	text-decoration: none;
}
