/*
    style.ccs
    Programado para diseñar el mockup del index.html
    @author Juan Manuel Toscano Reyes <jtoscanoreyes.guadalupe@alumnado.fundacionloyola.net>
*/
*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin: auto;
}
header{
    background-color: #1C6E8C;
    color: white;
    width: 1200px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
}
h1{
    margin: auto;
}
#video{
    background-color: grey;
    width: 1200px;
    height: 300px;
    display: flex;
    text-align: center;
    align-items: center;
}
main{
    width: 1200px;
    height: auto;
    background-color: thistle;
}
footer{
    background-color: #282828;
    color: white;
    width: 1200px;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}
#img{
    width: 100px;
    height: 200px;
    background-color: grey;
}